<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>main title</title>
	</head>
	<body>
		<h1>main heading</h1>
		<form action="/blog.py" method="POST">
			<p>Can't find what you're looking or below? Try searching for it here:</p>
			<input type="text" name="search" placeholder="Search...">
		</form>	
		<hr />
		<!--message-->
		<ul id="archive_list">
		<!--results-->
		</ul>
		<a href='/blog.py'>Home</a></div>
		<a href='/blog.py?p=archive'>Find a Post</a>
		<a href='/blog.py?p=contact'>Contact Me</a>
	</body>
</html>
